ul,p {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    
}

.navbar__logo h3{
    margin: 0px;
}
.navbar__container {
    margin: 15px;
}

.navbar__right li{
    text-align: center;
    padding: 3px;
    border-radius: 5px;
    margin: 0px 10px;
}

.navbar__right {
    margin-right: 15px;
}

.nav_text:hover {
    background-color: rgba(0, 0, 0, 0.137);
}

p {
    padding: 2px 0px 0px 0px;
    color: rgba(110, 110, 110, 0.562);
}