.main__container {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    width:auto;
    height: 600px;
    * {
        margin: 9px 15px;
    }
    position: relative;
    right: 20px;
    background-color: #fff;
}
.main__container-header {
    margin-right: '100px';
    display: flex;
    align-content: space-between;
}

.main__container__head {
    h3 {
        font-size: 30px;
    }
    p {
        color: rgb(99, 94, 94);
    }
}

.task__container {
    
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.task__card{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 16px;
    /* margin: 0px 30px 20px 0px; */
    text-align: left;
    width: 300px;
    /* border: 1px solid ; */
}