.side__container {
    background-color:  rgb(240, 240, 240);
    width:250px;
    height: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    /* margin-left: 20px; */
    position: relative;
    right: 40px;
}

.all-remainders {
    display: flex;
    flex-wrap: wrap;
    /* align-items: flex-start; */
    justify-content: space-around;
}

.remainder__container {
    display: flex;
    flex-direction: column;
    /* background-color: rgb(235, 221, 252); */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right:5px;
    padding: 8px;
    width: 190px;
    height: 250px;
    h2, p {
        margin: 0px;
    }
    .remainder-desc {
        margin: 10px 15px;
    }
    .schedule-time {
        color: rgb(141, 139, 139);
        font-size: 13px;
        padding-bottom: 15px;
    }
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.side__content-remainder{
    /* background-color: #ffffff; */
    border-radius: 20px;
    margin: 0px 15px;
    position: relative;
    top: 20px;
    display: flex;
    flex-direction: column;
    .remainder-title {
        margin: 0px;
    }
}