.sidebar__container {
    border-radius: 30px;
    background-color:  rgb(240, 240, 240);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    width: 250px;
    height: 600px;
    padding: 5px 0px 5px 20px;
    position: relative;
    
}

.sidebar__contents {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    :hover {
        background-color: rgba(0, 0, 0, 0.11);
    }
}

.sidebar__label {
    margin: 10px;
    width: 90px;
}

.sidebar__items {
    height: 35px;
    border-radius: 5px;
    padding: 5px 0px 0px 6px;
}

 /* {
    display: flex;
} */

/* .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 320px;
    background-color: #fff;
}

.sidebar__logo {
    display: grid;
    place-items: center;
    height: 120px;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Mochiy Pop P one', sans-serif;
}

.sidebar__menu {
    position: relative;
}

.sidebar__menu__item {
    display: flex;
    align-items: center;
    place-content: flex-start;
    padding: 1rem 3rem;
    font-size: 1.25rem;
    font-weight: 500;
    color: #555555;
    transition: color 0.3s ease-in-out;
}

.sidebar__menu__item.active {
    color: #fff;
}

.sidebar__menu__item__icon {
    margin-right: 1rem;
}

.sidebar__menu__item__icon i {
    font-size: 1.75rem;
}

.sidebar__menu__indicator {
    position: absolute;
    top: 0;
    left: 50%;
    width: calc(100% - 40px);
    border-radius: 10px;
    background-color: #308efe;
    z-index: -1;
    transform: translateX(-50%);
    transition: 0.3s ease-in-out;
} */
