/* .sidebar__container {
    background-color: rgb(240, 240, 240);
} */

.sidebar__contents {
    list-style-type: none;
    :hover {
        background-color: rgba(0, 0, 0, 0.11);
    }
}

.sidebar__items {
    padding: 5px;
}
